
{% extends 'base.html.twig' %}

{% block title %}Farmer Registration Form{% endblock %}

{% block body %}
<body>
    <h1>Success!</h1>
    <p>Congratulations! Your action was successful.</p>
    <a href="{{ path('home') }}">Back to Home</a>
</body>
{% endblock %}

